<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccw.rjb.mapper.DemoMapper">

    <select id="demo" resultType="ccw.rjb.data.entity.Student">
        SELECT * FROM rule_type
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%',#{keyword},'%')
            </if>
            <if test="parent != null">
                AND parent = #{parent}
            </if>
        </where>
        ## offset=(pageNum-1)*pageSize
        <if test="offset != null and size != null">
            LIMIT ${offset}, ${size}
        </if>
    </select>
</mapper>
